

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--ff-primary);
    
}


/* CUSTOM PROPERTIES  */

:root {
    --ff-primary: "Noto Sans JP", sans-serif;
    --ff-secondary: "Source Code Pro", monospace; 

   

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #242582;
    --clr-accent: #f64c72;
    --clr-greenish: #41b3a3;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
            0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* GENERAL STYLES */


/* TYPOGRAPHY */

h1,h2,h3 {
    line-height: 1.1;
    margin: 0;
}

section {
    padding-top: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 3rem;
}

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}

/* BUTTONS */

.btn { 
    padding: .5rem 0;  
    margin-top: 0.5rem;
    border-radius: 0.25rem;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    border: none;
  }

/* NAVBAR */

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--clr-dark); 
    box-shadow: var(--bs);
    position: fixed;
    width: 100%;
    
}

.logo {
    color: var(--clr-light);
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translate(100%);
    transition: transform 250 cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-light);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;   

}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}
.hamburger::after {
    bottom: 6px;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position:fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);    
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}


/* QUICKMENU */

.quickmenu {
    background-color: var(--clr-dark);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.btn--quickmenu {    
    margin: 0;
    border-radius: 0;
    width: 100%;    
    color: var(--clr-light);
    background-color: transparent;
    text-align: center;
    border-top: 0.25px solid rgb(255, 255, 255, 0.5); 
    
}

.btn--quickmenu + .btn--quickmenu {
    border-left:0.25px solid rgb(255, 255, 255, 0.5);     
}



/* INTRO */

.index__intro {
    min-height: 100vh;
    background-color: rgb(167, 167, 167);
    background-blend-mode: multiply;
    background-image: url("../assets/images/woman-2592247_1920.jpg");
    background-position: center;
    background-size: cover;    
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: var(--clr-light);
}

.section__title--intro {
color: var(--clr-light);
}



.btn--intro {
    display: block;
    width: 100%;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    box-shadow: var(--bs);
   
}



/* SECTION INFORMATION */

.section__image {
    max-width: 100%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    
}


.section__image--information {
    border-radius: 0.25rem;
    box-shadow: var(--bs);
    margin-bottom: 1rem;
}

.introduction--information {
    padding-bottom: 4rem;
}




/* FOOTER */

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--clr-dark);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footerContainer {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.footerContainer > div {
    margin: 0.5rem 0;
}

.footer__mainIconContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.footer__mainIconContainer > p {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    color: var(--clr-light);
}

.footer__socialMediaIcons i + i {
margin-left: 1rem;
}

.footer i {
    font-size: 2rem;
    color: var(--clr-light);
}

.footer__copyright {
    color: var(--clr-light);
    font-size: 0.75rem;
}

