$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: $gray-100;
$secondary: #f64c72;
$third: #a4b3b6;

$bg-primary: #2f2fa2;
$bg-secondary: #444ba2;
$bg-third: #161695;

$light: $gray-100 !default;
$dark: $gray-900 !default;

$navbar-toggler-border-radius: none;
$navbar-toggler-focus-width: none;
$navbar-dark-color: $gray-100;
$navbar-dark-hover-color: $gray-900;
$navbar-dark-active-color: $white;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color: rgba($white, 0.7);
$navbar-dark-brand-color: $navbar-dark-active-color;
$navbar-dark-brand-hover-color: $navbar-dark-active-color;
$navbar-toggler-border-radius: 0.5rem;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
